In [3]:
#Import Dependencies
import pandas as pd

In [4]:
#Import CSV File
csv_file = "the_oscar_award.csv"
Oscar_df = pd.read_csv(csv_file)
Oscar_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [17]:
#Clean Dataframe
Oscar1_df = Oscar_df[['year_film','category','name','film','winner']]
Oscar1_df = Oscar1_df.set_index("category")
Oscar1_df.head()

          year_film                 name              film  winner
category
ACTOR          1927  Richard Barthelmess         The Noose   False
ACTOR          1927        Emil Jannings  The Last Command    True
ACTRESS        1927       Louise Dresser   A Ship Comes In   False
ACTRESS        1927         Janet Gaynor        7th Heaven    True
ACTRESS        1927       Gloria Swanson    Sadie Thompson   False

In [34]:
OscarNom_df = Oscar1_df.loc[["BEST PICTURE","DIRECTING","ACTOR","ACTRESS"]]
OscarNom_df

,year_film,name,film,winner
category,,,,
BEST PICTURE,1962,"Sam Spiegel, Producer",Lawrence of Arabia,True
BEST PICTURE,1962,"Darryl F. Zanuck, Producer",The Longest Day,False
BEST PICTURE,1962,"Morton Da Costa, Producer",Meredith Willson's The Music Man,False
BEST PICTURE,1962,"Aaron Rosenberg, Producer",Mutiny on the Bounty,False
BEST PICTURE,1962,"Alan J. Pakula, Producer",To Kill a Mockingbird,False
...,...,...,...,...
ACTRESS,1975,Isabelle Adjani,The Story of Adele H.,False
ACTRESS,1975,Ann-Margret,Tommy,False
ACTRESS,1975,Louise Fletcher,One Flew over the Cuckoo's Nest,True
ACTRESS,1975,Glenda Jackson,Hedda,False
ACTRESS,1975,Carol Kane,Hester Street,False

In [33]:
OscarWin_df = OscarNom_df.loc[OscarNom_df["winner"] == True, :]
OscarWin_df

,year_film,name,film,winner
category,,,,
BEST PICTURE,1962,"Sam Spiegel, Producer",Lawrence of Arabia,True
BEST PICTURE,1963,"Tony Richardson, Producer",Tom Jones,True
BEST PICTURE,1964,"Jack L. Warner, Producer",My Fair Lady,True
BEST PICTURE,1965,"Robert Wise, Producer",The Sound of Music,True
BEST PICTURE,1966,"Fred Zinnemann, Producer",A Man for All Seasons,True
...,...,...,...,...
ACTRESS,1971,Jane Fonda,Klute,True
ACTRESS,1972,Liza Minnelli,Cabaret,True
ACTRESS,1973,Glenda Jackson,A Touch of Class,True
ACTRESS,1974,Ellen Burstyn,Alice Doesn't Live Here Anymore,True
ACTRESS,1975,Louise Fletcher,One Flew over the Cuckoo's Nest,True